@import url('C:\Users\pc\Robotics_Club_WebSite\front\All_Section\Events\section3\GameOfSquids.ttf');
div h1{
    color: white;
    font-family: 'GameOfSquids', sans-serif;
    font-weight: bold;
    font-size: 100px;

}
body{
    background-color: #0B1E37 !important;
}
/* #section_3{
    background-color: #0B1E37;
    height: 100vh;
} */

div h5{
    color: white;
    margin-top: 50px;
}
DIV h6{
    color: white;
}
/* .article1{
    background-color: #2B9CB8;
    width: 100px;
    height: 200px;
    border-radius: 10px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    position: relative;
    padding-right: 10px;
    
    
}
.article2{
    background-color: #E4407D;
    width:100px;
    height: 200px;
    border-radius: 10px;
    border-bottom-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    position: relative;
    
}
.article3{
    height: 30px;
    width: 50%;
    background-color: #2B9CB8;
    border-radius: 10px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border: 2px solid #ffffff;

}
.article4{
    height: 30px;
    width: 50%;
    background-color: #E4407D;
    border-radius: 10px;
    border-bottom-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-color: white ;
    border: 2px solid #ffffff;
} */

/* .bg1{
    position: absolute;
    height: auto;
    width:500px;
    z-index: -1;
    left: 0;

}
.bg2{
    position: absolute;
    height:auto;
    width: 500px;
    z-index: -1;
    right: 0;
}
.pic1{
    position: absolute;
    bottom: 0;
    width: 250PX;
    height: auto;
    left: 0;
    
   
}
.pic2{
    position: absolute;
    bottom: 0;
    width: 250PX;
    height: auto;
    right: 0;
   
}
.pic3{
    position: absolute;
    bottom: 0;
    width: 250PX;
    height: auto;
    left: 250px;
    
   
}
.article1{
    width: 90%;
    height: auto;
    position: absolute;
    right: 0;

}
.article2{
    width: 50%;
    height: auto;
    margin-right: 0;
    position: absolute;
    right: 0;

}
.article21{
    
    right: 0;
    position: absolute;
} */
.Div1{
    position: relative;
}
.Div2{
    position: relative;
}

.article1{
    position: absolute;
    right: 0;
}
.article2{
    position: absolute;
    left: 0;
}
.article3{
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
}
.article4{
    /* 
    height: auto;
    position: absolute; */
   justify-content: right;
   display: flex;
   width: 70%;
   
   
   
}
.bg1{
    background-image: url('C:\Users\pc\Robotics_Club_WebSite\front\All_Section\Events\section3\v3 (1).png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50VH;
    z-index: -100;
    
}
