@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.sec3_our_team{
    background-color: #071731;
    border-radius: 60px 0px;
}
.div1_sec3_our_team{
    width: fixed(367);
    height: fixed(82px);
    border-radius: 50px;
    border: solid 2px #C9C9C9;
    padding: 25px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;

}
.col1{
    display: flex;
    justify-content: center;
}
.a1_sec3_our_team{
    text-decoration: none;
    color: #FFFFFF;
}
.span1_div1_sec3_our_team{
    border: 0.5px solid #d0d5dd;
    border-radius: 60px;
    padding: 15px;
    background-color: #2b9cb8;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 10px;

}
.h6_row2_our_team{
    color: #2b9cb8;
    font-family: Rubik;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin: 20px;
}
.h1_row2_our_team{
    color: #F1F1F1;
    font-family: Rubik;
    font-weight: 600;
    font-size: 56px;
    line-height: 78.4px;
    margin: 20px;

}
/* row3 */
.row3_our_team{
    background-color: #2B9CB8;
    border-radius: 20px 20px 0px 0px;
    width: 850px;
    height: 98px;
    padding: 20px;
}
/* row4 */
.row4_our_team{
    background-color: #0A1E3E;
    width: 850px;
    height: 98px;
    padding: 20px;
    
}
/* row5 */
.row5_our_team{
    background-color: #2B9CB8;
    width: 850px;
    height: 98px;
    padding: 20px;
    
}
/* row6 */
.row6_our_team{
    background-color: #0A1E3E;
    width: 850px;
    height: 98px;
    padding: 20px;
    
}
/* row7 */
.row7_our_team{
    background-color: #2B9CB8;
    width: 850px;
    height: 98px;
    padding: 20px;
    
}
/* row8 */
.row8_our_team{
    background-color: #0A1E3E;
    width: 850px;
    height: 98px;
    padding: 20px;
    
}
/* row9 */
.row9_our_team{
    background-color: #2B9CB8;
    width: 850px;
    height: 98px;
    padding: 20px;
    
}
/* row10 */
.row10_our_team{
    background-color: #0A1E3E;
    width: 850px;
    height: 98px;
    padding: 20px;
    
}
._row3_our_team{
   opacity: 40%;
    width: 850px;
    height: 98px;
}
.parent_sec3_our_team{
    color: #FFFFFF;
    box-shadow: 0px 10px 50px 6px #FFFFFF ;
    margin-left: 250px;
    width: 800px;
}
.les_images_à_gauche{
    position: absolute;
    left: 30px;
    top: 530px;
}
.Member_since{
    font-family: Rubik;
    font-weight: 800;
    font-size: 20px;
    line-height: 23.7px;

}
.images_DISCOVER_OUR_STAFF{
    position: absolute;
    right: 40px;
    bottom: 0px;
}