@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.image_principale{
    position: absolute;
    bottom: 0px;
    margin-left: 300px; 
}
.p_hello{
    
   
   border: solid;
   width: 118px;
   height: 45px;
   top: 19px;
   left: 386.84px;
   border: 1.27px solid #171717;
   border-radius: 38.24px;
   padding-top: 12.75px;
   padding-right: 25.49px;
   padding-bottom: 12.75px;
   padding-left: 25.49px;
   gap: 6.37px;
   background-color: #FFFFFF;
}
.row2{
   font-family: Rubik;
   font-weight: 600;
   font-size: 95.75px;
   line-height: 95.75px;
   text-align: center;
   color: #171717;
   margin-bottom: 10px;
}
.row1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.parag{
   font-family: Rubik;
   font-weight: 400;
   font-size: 20px;
   line-height: 15px;
   
}
.color_yasser{
   color: #2b9cb8;
}
.Hello{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.trois_image_gauche{
    position: absolute;
    left: 40px;
    top: 320px;
}
.position_01{
    font-family: Rubik;
    font-weight: 600;
    font-size: 96px;
    line-height: 113.76px;
    letter-spacing: -1.5%;
    text-decoration: underline;
    text-decoration-style: solid;
    offset: auto;
    text-decoration-thickness: auto;
}
.petit_simbol{
   position: absolute;
   right: 650px;
   top: 0px;
}
.position_01{
  position: relative;
  top: 100px;
}
.row4{
   margin-top: 100px;
   /* n'aplique pas */
}
.flesh_main_title{
   position: absolute;
   left: 300px;
   top: 200px;
}
