@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.item-nav {
  color: #fff;
  /* Navigation */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
}
.navbar-nav .nav-link:hover {
  color: #00a8ff !important;
}

.contact a {
  text-decoration: none;
}

.contact {
  align-items: center;
  justify-content: flex-end;
}

.contact img {
  width: 40%;
  height: 40%;
}

.contact h6 {
  color: var(--Color, #f1f1f1);
  margin: 0px;

  /* Caption 1 */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}

.contact h5 a {
  color: var(--White, #fff);
  margin: 0px;

  /* Heading 5 */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}
.S1 {
  margin: 0;
  /* background-image: url(./assets/Section\ 1.png); */
  background: linear-gradient(
      0deg,
      rgba(7, 23, 49, 0.7) 0%,
      rgba(7, 23, 49, 0.7) 100%
    ),
    url(./assets/Section_1_Our_Team.png) lightgray 0.775px -100px / 100% 119.729%
      no-repeat;
  height: 100vh;
  border-radius: 0 0 100px 0;
}

.small_title {
  color: #9cb8bf;
  text-align: center;

  /* Sub Heading */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  text-transform: uppercase;
}

.main_title {
  color: #2b9cb8;
  text-align: center;
  font-family: Rubik;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 115.2px */
}

.desc {
  color: #fff;
  text-align: center;

  /* Body 1 */
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 32px */
}

.buttons {
    color: var(--White, #fff);
    border-radius: 15px;
    background: #2b9cb8;
    text-decoration: none;
    display: inline-flex;
    padding: 24px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
